00. Cursos de Nivelación/02. Microeconomía/Material teórico/Notas de clase/Notas de clase (1 a 15) (2).pdf                              filter=lfs diff=lfs merge=lfs -text
02. Probabilidad/Material teórico/Notas de clase/Notas de clase (1 a 9) (2).pdf                                                         filter=lfs diff=lfs merge=lfs -text
06. Microeconometría I/Examen/Material teórico/Berndt, E. R. - The Practice of Econometrics (Classic and Contemporary) (Chapter 11).pdf filter=lfs diff=lfs merge=lfs -text
06. Microeconometría I/Examen/Material teórico/Berndt, E. R. - The Practice of Econometrics (Classic and Contemporary).pdf              filter=lfs diff=lfs merge=lfs -text
06. Microeconometría I/Trabajos Prácticos/Trabajo Práctico N° 2/Datos/pricedata.dta                                                     filter=lfs diff=lfs merge=lfs -text
11. Big Data, Machine Learning and Econometrics/Material teórico/Notas de clase/Clase 9/Datos/fashion-mnist.csv                         filter=lfs diff=lfs merge=lfs -text
11. Big Data, Machine Learning and Econometrics/Material teórico/Notas de clase/Clase 9/Datos/MNIST.csv                                 filter=lfs diff=lfs merge=lfs -text